<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<nav>
  <a routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page" >Home</a>
  <a routerLink="/about" routerLinkActive="activebutton" ariaCurrentWhenActive="page">About</a>
  <a routerLink="/books" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Books</a>
  <a routerLink="/contact" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Contact</a>
  
</nav>
<hr style="height: .2rem;background-color: black;">
<br>
<router-outlet></router-outlet>
</body>
</html>