*{
  
}
nav{
    margin: 20px;
    display: flex;
    
    color: black;
    gap:2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    border-radius: 15px;
    height: 2rem;
    align-items: center;
    position:sticky;
    

}
nav a{
    text-decoration: none;
    color:black;
}